<section id="create-story">
          <form action="" method="post">
            <label for="title">Create your story</label><br>
            <input type="text" name="title" id="title" placeholder="Title of your story..."/>
            <label for="sujet">What's the title of your story?</label>
            <input type="text" name="story" id="story" placeholder="Your story..."/>
            <div class="operation">
              <button id="button-create-story">Create your Story</button>
            </div>
          </form>
      </section>