<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/literature.png" type="image/x-icon">
  </head>

  <body>
    <header>
      <h1>Exquisite  Stories</h1>
      <nav>
          {{#if isLoggedIn}}
        <div class="first">
          <a href="/stories">HOME   </a>
          <a href="/myStories">My Story   </a>
        </div>
        <ul class="second">
          <li class="third">Hi! {{currentUser.username}}</li>
          <li>
            <button id="logout-button">
              <a href='/logout'>Logout</a>
            </button>
          </li>
        {{/if}}
        </ul>
      </nav>
    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>