<section id="mystory">
    <div class="mystory-content">
        <h2>My Story</h2>
        <div class="mystory">
            {{#each allMyStory}}
            {{> storyCard this}}
            {{/each}}
        </div>
    </div>
</section>