<div class="container">
  <section id="profile-title">
    <h1>Hi! <span>{{currentUser.username}}</span></h1>
  </section>
    <div class="content">
      <section id="create-story">
          <form action="" method="post">
            <label for="title">Create your story</label><br>
            <input type="text" name="title" id="title" placeholder="Title of your story..."/>
            <label for="sujet">What's the title of your story?</label>
            <input type="text" name="story" id="story" placeholder="Your story..."/>
            <div class="operation">
              <button id="button-create-story">Create your Story</button>
            </div>
          </form>
      </section>
      <section id="continue-story">
          <form action="" method="post">
            <div class="story-container">
              <div class="story-info">
                <label for="title">title:</label>
                <div class="title-story"><h1>It was a terrible Valentine</h1></div>
                <label for="story">Story:</label>
                <div class="story-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusantium aliquid pariatur. Dolorem, ipsum quas mollitia laudantium earum amet modi recusandae omnis ut architecto autem, eveniet saepe cumque, delectus deserunt.</div>
                <label for="author">Author: <span>Marianne Romi Ines Flo Haroun</span></label><br>
                <label for="update">Last Update: <span>2023/02/20</span></label><br>
                <label for="count">Count: <span>25</span></label>
                <div class="operation">
                <button id="button-continue-story">Continue Next Story</button>
              </div>
            </div>
          </form>
      </section>
      <section id="read-story">
          <form action="" method="post">
            <div class="story-container">
              <div class="story-info">
                <label for="title">title:</label>
                <div class="title-story"><h1>This is the first and the last time dinner with him</h1></div>
                <label for="story">Story:</label>
                <div class="story-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusantium aliquid pariatur. Dolorem, ipsum quas mollitia laudantium earum amet modi recusandae omnis ut architecto autem, eveniet saepe cumque, delectus deserunt.</div>
                <label for="author">Author: <span>Marianne Romi Ines Flo Haroun</span></label><br>
                <label for="update">Last Update: <span>2023/02/20</span></label><br>
                <label for="count">Count: <span>25</span></label>
                <div class="operation">
                <button id="button-read-story">Read Stories</button>
                
              </div>
            </div>
          </form>
      </section>
    </div>
      

<!-- Template to create characters -->
      <template id="template">
        <div class="story-info">
          <div class="story-title">Title: <span></span></div>
          <div class="story-author">Author: <span></span></div>
          <div class="story-update">Last update: <span></span></div>
          <div class="story-count">Count: <span></span></div>
          <div class="story-content">Story: <span></span></div>
        </div>
      </template>
</div>
