<div class="stories-container">
    <section id="created">
        <div class="content">
            <h2>Create a story</h2>
            <form action="/stories" method="post">
                <input type="text" name="title" id="title" placeholder="Title" />
                <label for="sujet" id="label-sujet"></label>
                <textarea id="content" name="content" placeholder="The first chapter of your story" rows="20"
                    cols="42%">
                </textarea>
                <div class="operation">
                    <button id="button-create-story">Create your Story</button>
                </div>
            </form>
        </div>
    </section>

    <section id="unfinished">
        <div class="content">
            <h2>Wanna Continue?</h2>
            <div class="unfinished">
                {{#each unfinishedStories}}
                {{> storyCard this}}
                {{/each}}
            </div>
        </div>
    </section>

    <section id="finished">
        <div class="content">
            <h2>Ready to read?</h2>
            <div class="finished">
                {{#each finishedStories}}
                {{> storyCard this}}
                {{/each}}
            </div>
        </div>
    </section>
</div>