@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Readex+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary:rgb(27, 216, 254);
  --color-secondary: rgb(13, 196, 232);
  --color-button-primary:#1acae5;
  --color-button-secondary: #26c8f0;
  --color-error: rgb(250, 149, 61);
  --color-input: #f2f2f2;
  --color-logout: rgb(255, 255, 255);
  --color-danger : rgb(141, 134, 134);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

/* common -----------------------------------*/
body {
  background: var(--color-primary);
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-button-secondary) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
a {
  font-size: 1rem;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
}
button {
  box-shadow: 2px 2px 3px rgb(140, 140, 140);
  border: none;
}
#btn-add, form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-button-secondary);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover,form button:active,form button:focus {
  background: var(--color-button-primary);
}
#btn-read {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: orange;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.user-img {
  width: 40px;
  height: 40px;
}
hr {
  border: .5px solid rgb(219, 217, 217);
}
.hr {
  margin: 3rem 0 ;
  border: .5px solid rgb(185, 183, 183);
}
/* login-page -----------------------------------*/
.login-page a {
  color: var(--color-button-primary);
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: var(--color-input);
  width: 100%;
  border: 0;
  margin: 1rem 0 1rem;
  padding: 1rem;
  font-size: .8rem;
}
form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-button-secondary);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
form button:hover,form button:active,form button:focus {
  background: var(--color-button-primary);
}
form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
form .message a {
  color: var(--color-button-secondary);
  text-decoration: none;
}
form .register-form {
  display: none;
}
form p {
  margin-top: 2rem;
}
#signup .error, #login .error {
  color: rgb(250, 51, 51);
}

/* header -------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  margin-bottom: 3rem;
}
header h1 {
  font-family: "Pacifico";
  font-size: 4rem;
  color: rgb(252, 179, 43);
  line-height: 130%;
  text-shadow: 2px 2px 3px rgb(56, 55, 55);
  text-align: center;
  padding-top: 1rem;
}
.first a {
  color:rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Noto Sans";
}
header nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header .first {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color:#FFFFFF;
  gap: 3rem;
}
header .second {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color:#FFFFFF;
  gap: 1rem;
}
header #logout-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(252, 179, 43);
  width: 100%;
  border: 0;
  padding: 10px 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}
header #logout-button:hover,
header #logout-button:active,
header #logout-button:focus {
  background: rgb(120, 82, 10);
}
header a {
  color: #fff;
  font-weight: 500;
  font-family: "Noto Sans";
}
header a:hover,
header a:active,
header a:focus {
  color: gray;
}
header .second {
  color:rgb(252, 179, 43);
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(173, 171, 171);
}
/* stories --------------------------------------*/
.stories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.stories-container section {
  width: 30%;
}

.stories-container .content>div, 
.stories-container form {
  height: calc(100vh - 12rem);
  overflow-y: scroll;
}

.stories-container form {
  text-align: left;
}

.stories-container form>textarea {
  width: 100%;
  height: calc(100vh - 26rem);;
}
.stories-container h2 {
  font-weight: 500;
  font-family: "Noto Sans";
  color: #fff;
  text-shadow: 2px 2px 3px rgb(115, 114, 114);
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.stories-container  #label-title, 
.stories-container  #label-sujet {
  color: gray;
}
.stories-container input {
  margin: .5rem 0 1rem 0;
}
.stories-container .story {
  margin: 3rem 0;
}
.stories-container button {
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

/* storyCard-content -----------------------------*/
.storyCard-content {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: left;
  padding: 2rem;
}
.storyCard-content p, h3 {
  margin: 0;
}
.storyCard-content h3 {
  font-family: "Noto Sans";
  font-weight: 600;
  padding-bottom: 1rem;
}

.storyCard-content p:first-child {
  margin: 0;
  color: rgb(3, 3, 3);
  font-size: .9rem;
  font-weight: 700;
}
.storyCard-content p {
  color: gray;
  font-size: .8rem;
}
.storyCard-content h5 {
  padding-bottom: 1rem;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}
.storyCard-content a {
  color: #FFF;
  font-weight: normal;
}
.storyCard-content .btn-add, 
.storyCard-content .btn-read {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.storyCard-content .btn-add:hover, 
.storyCard-content .btn-read:hover, 
.storyCard-content .btn-add:active, 
.storyCard-content .btn-read:active, 
.storyCard-content .btn-add:focus, 
.storyCard-content .btn-read:focus {
  background: var(--color-button-primary);
}
.storyCard-content .first {
  margin-bottom: 2rem;
}
.storyCard-content .second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}
.storyCard-content .forth {
  display: flex;
  flex-direction: column;
}
.storyCard-content .fifth {
  margin-top: 1.5rem;
}

/* myStories ---------------------------*/
#mystory {
  margin: 0 auto;
  width: 50%;
}

#mystory h2 {
  font-weight: 700;
  font-family: "Noto Sans";
  color: #fff;
  text-shadow: 2px 2px 3px rgb(115, 114, 114);
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.mystory {
  height: calc(100vh - 12rem);
  overflow-y: scroll;
}
/* editStory----------------------------*/
#editStory div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#editstory textarea {
  border: none;
  background-color:  var(--color-input);
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
#editStory input {
  width: 50%;
  border-radius: 10px;
  background-color: rgb(252, 179, 43);
  padding: 10px;
  box-shadow: 2px 2px 3px rgb(115, 114, 114);
  margin-top: 1rem;
}

/* oneStory ----------------------------*/
#onestory h2 {
  font-weight: 500;
  font-family: "Noto Sans";
  color: #fff;
  text-shadow: 2px 2px 3px rgb(115, 114, 114);
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
#onestory h3 {
  font-family: "Noto Sans";
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: left;
}
#onestory {
  width: 50%;
  margin: 0 auto;
}
#onestory form {
  box-shadow: none;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#onestory textarea {
  border: none;
  background-color: var(--color-input);
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

#onestory .onestory-container {
  height: calc(100vh - 12rem);
  overflow-y: scroll;
}
.second-content {
  margin: 1rem 0 2rem 0;
}

.third-content .add-chapter input {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-button-secondary);
  width: 80%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(140, 140, 140);
  border: none;
}

.third-content .add-chapter input:hover,
.third-content .add-chapter input:active,
.third-content .add-chapter input:focus {
  background: var(--color-button-primary);
}

#onestory .onestory-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
}
#onestory .image-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.image-name div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-name p:first-child {
  margin: 0;
  color: rgb(3, 3, 3);
  font-size: .9rem;
  font-weight: 700;
}
.image-name p {
  margin: 0;
  color: gray;
  font-size: .8rem;
}
.image-name h5 {
  font-family: "Roboto";
  margin: 0;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.third-content .edit-chapter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.third-content .edit-chapter input[value="Delete?"]  {
  margin: 0;
  color: #fff;
  background-color: var(--color-danger);
  font-size: 1rem;
  font-weight: 400;
}

.third-content a {
  all: unset;
  margin: 0;
  /* background-color: var(--color-input); */
  text-align: center;
  width: 80%;
  padding: 1rem;
  font-size: .8rem;
  border:1px solid black;
  font-size: 1rem;
  font-weight: 400;
}

.edit-chapter {
  margin: 3rem 0 ;
}
.edit-chapter form {
  background-color: transparent;
  width: 30%;
  margin: 3rem 0;
}

.add-chapter {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

/* edit story *-----------------------------*/
#edit-story {
  width: 50%;
  margin: 0 auto;
}
.edit-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  height: calc(100vh - 13rem);
}
#edit-story p:first-child {
  margin: 0;
  color: rgb(3, 3, 3);
  font-size: .9rem;
  font-weight: 700;
}
#edit-story p {
  margin: 0;
  color: gray;
  font-size: .8rem;
}
#edit-story h2 {
  font-weight: 500;
  font-family: "Noto Sans";
  color: #fff;
  text-shadow: 2px 2px 3px rgb(115, 114, 114);
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
#edit-story h3 {
  font-family: "Noto Sans";
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: left;
}

#edit-story form {
  box-shadow: none;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#edit-story textarea {
  border: none;
  background-color: var(--color-input);
  width: 100%;
  height: calc(100vh - 26.5rem);
  padding-bottom: 2rem;
}

#edit-story input {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-button-secondary);
  width: 80%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(140, 140, 140);
  border: none;
}

.third-content .add-chapter input:hover,
.third-content .add-chapter input:active,
.third-content .add-chapter input:focus {
  background: var(--color-button-primary);
}
#edit-story .first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  margin-bottom: .5rem;
}
#edit-story .third {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
/* error -----------------------------------*/
#error-message {
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 30%;
  box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: absolute;
  top: 35%;
  left: 35%;
}
.error , .error-message  {
  z-index: 5;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  margin: 0;
}