@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Readex+Pro:wght@700&display=swap');
/* :root {
  --color-primary:rgb(141,194,111);
  --color-secondary: rgba(118,184,82,1);
  --color-butoon-primary:#43A047;
  --color-button-secondary: #4CAF50;
  --color-error: rgb(246, 141, 141);
  --color-input: #f2f2f2;
} */
/* :root {
  --color-primary:rgb(254, 148, 27);
  --color-secondary: rgb(245, 146, 40);
  --color-butoon-primary:#e56f1a;
  --color-button-secondary: #f08126;
  --color-error: rgb(246, 141, 141);
  --color-input: #f2f2f2;
  --color-logout: rgb(169, 69, 41);
} */
:root {
  --color-primary:rgb(27, 216, 254);
  --color-secondary: rgb(40, 211, 245);
  --color-butoon-primary:#1acae5;
  --color-button-secondary: #26c8f0;
  --color-error: rgb(52, 201, 242);
  --color-input: #f2f2f2;
  --color-logout: rgb(255, 255, 255);
  --color-danger : rgb(218, 73, 73);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

/* common */
body {
  background: var(--color-primary);
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-button-secondary) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
a {
  font-size: 1rem;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
}
button {
  box-shadow: 2px 2px 3px rgb(140, 140, 140);
  border: none;
}
#btn-add {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-button-secondary);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover,form button:active,form button:focus {
  background: var(--color-butoon-primary);
}
#btn-read {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: orange;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.user-img {
  width: 40px;
  height: 40px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  margin-bottom: 3rem;
}
header h1 {
  font-family: "Pacifico";
  font-size: 4rem;
  color: rgb(252, 179, 43);
  line-height: 130%;
  text-shadow: 2px 2px 3px #fff;
  text-align: center;
}
.first a {
  color:rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
}
header nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header .first {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color:#FFFFFF;
  gap: 3rem;
}
header .second {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color:#FFFFFF;
  gap: 1rem;
}
header #logout-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  rgb(252, 179, 43);
  width: 100%;
  border: 0;
  padding: 10px 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}
header a {
  color: #fff;
}

/* stories */
.stories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.stories-container section {
  width: 30%;
}

.stories-container .content>div, .stories-container form{
  height: calc(100vh - 12rem);
  overflow-y: scroll;
}

.stories-container form {
  text-align: left;
}

.stories-container form>textarea {
  width: 100%;
  height: calc(100vh - 26rem);;
}
.stories-container h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 3px rgb(115, 114, 114);
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.stories-container  #label-title, .stories-container  #label-sujet {
  color: gray;
}
.stories-container input {
  margin: .5rem 0 1rem 0;
}
.stories-container .story {
  margin: 3rem 0;
}
.stories-container button {
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

/* storyCard-content */
.storyCard-content {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: left;
  padding: 2rem;
}
.storyCard-content p, h3 {
  margin: 0;
}
.storyCard-content h3 {
  padding-bottom: 1rem;
}
.storyCard-content p {
  color: gray;
  font-size: .8rem;
}
.storyCard-content h5 {
  padding-bottom: 1rem;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}
.storyCard-content a {
  color: #FFFFFF;
  font-weight: normal;
}
.storyCard-content .btn-add, .storyCard-content .btn-read {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-button-secondary);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.storyCard-content .btn-add:hover, .storyCard-content .btn-read:hover, .storyCard-content .btn-add:active, .storyCard-content .btn-read:active, .storyCard-content .btn-add:focus, .storyCard-content .btn-read:focus {
  background: var(--color-butoon-primary);
}
/* myStories -----------------------------------*/
#mystory {
  margin: 0 auto;
  width: 50%;
}

/* editStory----------------------------*/
#editStory div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#editstory textarea {
  border: none;
  background-color: #efeaea;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
#editStory input {
  width: 50%;
  border-radius: 10px;
  background-color: rgb(252, 179, 43);
  padding: 10px;
  box-shadow: 2px 2px 3px rgb(115, 114, 114);
  margin-top: 1rem;
}

/* oneStory ----------------------------*/
#onestory h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 3px rgb(115, 114, 114);
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
#onestory h3 {
  padding: 1rem 0;
}
#onestory {
  width: 50%;
  margin: 0 auto;
}
#onestory form {
  box-shadow: none;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#onestory textarea {
  border: none;
  background-color: #efeaea;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.third-content .add-chapter input {
  width: 50%;
  border-radius: 10px;
  background-color: rgb(252, 179, 43);
  padding: 10px;
  box-shadow: 2px 2px 3px rgb(115, 114, 114);
  margin-top: 1rem;
}
#onestory .onestory-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
}
#onestory .image-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: .5rem;
}
.image-name div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.image-name p {
  margin: 0;
  color: gray;
  font-size: .9rem;
}
.image-name h5 {
  font-family: "Roboto";
  margin: 0;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.third-content .edit-chapter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.third-content .edit-chapter input[value="Delete?"]  {
  margin: 0;
  background-color: var(--color-danger);
}
.third-content a {
  all: unset;
  margin: 0;
  background-color: var(--color-input);
  text-align: center;
  width: 80%;
  padding: 1rem;
  font-size: .8rem;
}
.edit-chapter form {
  background-color: transparent;
  width: 30%;
}

.add-chapter {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

/* login-page -----------------------------------*/
.login-page a {
  color: var(--color-butoon-primary);
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: var(--color-input);
  width: 100%;
  border: 0;
  margin: 0 0 1rem;
  padding: 1rem;
  font-size: .8rem;
}
form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-button-secondary);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
form button:hover,form button:active,form button:focus {
  background: var(--color-butoon-primary);
}
form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
form .message a {
  color: var(--color-button-secondary);
  text-decoration: none;
}
form .register-form {
  display: none;
}

/* error */
.error , .error-message  {
  color: var(--color-error);
  font-weight: bold;
}